Config(
    physic_max_step_time: 0.008,
    physic_min_step_time: 0.00001,

    hook_links: 60,
    accumulated_impulse_solver_step: 0.01,
    correction_mode_a: 0.2,
    correction_mode_b: 0.2,
    correction_mode_c: 0.08,
    accumulated_impulse_solver_joint_corr_factor: 0.4,
    accumulated_impulse_solver_rest_eps: 1.0,
    accumulated_impulse_solver_num_first_order_iter: 10,
    accumulated_impulse_solver_num_second_order_iter: 10,

    avoider_size: 0.1,
    avoider_velocity: 2.5,
    avoider_time_to_reach_vmax: 1.0,
    avoider_ang_damping: 0.8,
    avoider_color: Green,
    avoider_avoid_norm: 1.0,

    bouncer_size: 0.1,
    bouncer_velocity: 1.0,
    bouncer_time_to_reach_vmax: 0.05,
    bouncer_ang_damping: 0.8,
    bouncer_color: Blue,

    avoider_generator_salvo: 0,
    avoider_generator_eraser_probability: 0.0,
    avoider_generator_time_between_salvo: 0.0,
    bouncer_generator_salvo: 0,
    bouncer_generator_eraser_probability: 0.0,
    bouncer_generator_time_between_salvo: 0.0,

    player_height: 0.4,
    player_radius: 0.1,
    player_velocity: 5.0,
    player_time_to_reach_vmax: 0.1,
    player_ang_damping: 0.0,
    player_gravity: 0.3,
    player_hook_velocity: 50.0,
    player_hook_time_to_reach_vmax: 8.0,
    player_hook_force: 0.8,
    player_hook_color: Blue,
    player_hook_size: 1.0,

    teleport_dl: -0.4,

    laser_size: 0.01,
    laser_velocity: 10.0,
    laser_time_to_reach_vmax: 0.1,
    laser_ang_damping: 0.8,
    laser_amortization: 2.0,
    laser_color: Red,

    turret_size: 0.15,
    turret_velocity: 1.0,
    turret_time_to_reach_vmax: 0.05,
    turret_ang_damping: 0.8,
    turret_color: Purple,

    wall_color: [
        Wall0,
        Wall1,
        Wall2,
        Wall3,
        Wall4,
        Wall5,
        Wall6,
        Wall7,
        Wall8,
        Wall9,
    ],
    wall_color_division: 10,
    wall_color_blank: 0.7,

    weapon_reload_time: 0.5,
    weapon_bullet_nbr: 5,
    weapon_bullet_radius: 0.006,
    weapon_bullet_length: 0.0005,
    weapon_bullet_x: 0.035,
    weapon_bullet_dx: 0.003,
    weapon_bullet_color: PaleBlue,
    weapon_bullet_empty_color: DarkBlue,
    weapon_six_color: Red,
    weapon_angle_color: PalePurple,
    weapon_light_ray_duration: 0.2,

    levels: [
        // KillAll(Conf(
        //     size: (11, 11),
        //     percent: 0.0,
        //     bug: (0, 0),
        //     scale: 1.0,
        //     turrets: 0,
        //     avoiders: 0,
        //     bouncers: 0,
        //     eraser_avoiders: 0,
        //     eraser_bouncers: 0
        // )),
        // KillAll(Conf(
        //     size: (15, 15),
        //     percent: 20.0,
        //     bug: (0, 0),
        //     scale: 1.0,
        //     turrets: 0,
        //     avoiders: 5,
        //     bouncers: 5,
        //     eraser_avoiders: 0,
        //     eraser_bouncers: 0
        // )),
        // KillAll(Conf(
        //     size: (21, 21),
        //     percent: 30.0,
        //     bug: (0, 0),
        //     scale: 1.0,
        //     turrets: 0,
        //     avoiders: 0,
        //     bouncers: 0,
        //     eraser_avoiders: 1,
        //     eraser_bouncers: 0
        // )),
        // KillAll(Conf(
        //     size: (25, 25),
        //     percent: 20.0,
        //     bug: (0, 0),
        //     scale: 1.0,
        //     turrets: 0,
        //     avoiders: 10,
        //     bouncers: 10,
        //     eraser_avoiders: 0,
        //     eraser_bouncers: 0
        // )),
        Walkthrough3D(Conf(
            size: (11, 11, 11),
            percent: 4.0,
            bug: (0, 0, 0),
            scale: 10.0,
            turrets: 0,

            avoider_generators: 1,
            avoider_salvo: 3,
            avoider_eraser_proba: 0.0,
            avoider_time_between_salvo: 10.0,

            bouncer_generators: 1,
            bouncer_salvo: 1,
            bouncer_eraser_proba: 0.0,
            bouncer_time_between_salvo: 3.0,
        )),
        KillAll(Conf(
            size: (21, 21),
            percent: 20.0,
            bug: (0, 0),
            scale: 1.0,
            turrets: 0,
            avoiders: 1,
            bouncers: 0,
            eraser_avoiders: 0,
            eraser_bouncers: 0
        )),
        Walkthrough(Conf(
            size: (21, 21),
            percent: 40.0,
            bug: (0, 0),
            scale: 1.0,
            turrets: 0,

            avoider_generators: 1,
            avoider_salvo: 1,
            avoider_eraser_proba: 0.5,
            avoider_time_between_salvo: 1.0,

            bouncer_generators: 1,
            bouncer_salvo: 1,
            bouncer_eraser_proba: 0.5,
            bouncer_time_between_salvo: 0.5,
        )),
    ],

    fps: 60,
    debug_fps_counter: 0,
    mouse_sensibility: 0.001,
    eraser_time: 0.3,
    style: ImGuiStyleSave(
        alpha: 1.0,
        window_padding: ImVec2Def(x: 8, y: 8),
        window_min_size: ImVec2Def(x: 32, y: 32),
        window_rounding: 5.0,
        window_title_align: ImVec2Def(x: 0.0, y: 0.5),
        child_window_rounding: 0.0,
        frame_padding: ImVec2Def(x: 4, y: 3),
        frame_rounding: 0.0,
        item_spacing: ImVec2Def(x: 8, y: 4),
        item_inner_spacing: ImVec2Def(x: 4, y: 4),
        touch_extra_padding: ImVec2Def(x: 0, y: 0),
        indent_spacing: 21.0,
        columns_min_spacing: 6.0,
        scrollbar_size: 16,
        scrollbar_rounding: 9,
        grab_min_size: 10,
        grab_rounding: 0,
        button_text_align: ImVec2Def(x: 0.5, y: 0.5),
        display_window_padding: ImVec2Def(x: 22, y: 22),
        display_safe_area_padding: ImVec2Def(x: 4, y: 4),
        anti_aliased_lines: true,
        anti_aliased_shapes: true,
        curve_tessellation_tol: 1.25,
        colors: (
            text:                   ImVec4Def(x: 0.90, y: 0.90, z: 0.90, w: 1.00),
            text_disabled:          ImVec4Def(x: 0.60, y: 0.60, z: 0.60, w: 1.00),
            window_bg:              ImVec4Def(x: 0.00, y: 0.00, z: 0.00, w: 0.70),
            child_window_bg:        ImVec4Def(x: 0.00, y: 0.00, z: 0.00, w: 0.00),
            popup_bg:               ImVec4Def(x: 0.05, y: 0.05, z: 0.10, w: 0.90),
            border:                 ImVec4Def(x: 0.70, y: 0.70, z: 0.70, w: 0.40),
            border_shadow:          ImVec4Def(x: 0.00, y: 0.00, z: 0.00, w: 0.00),
            frame_bg:               ImVec4Def(x: 0.80, y: 0.80, z: 0.80, w: 0.30),
            frame_bg_hovered:       ImVec4Def(x: 0.90, y: 0.80, z: 0.80, w: 0.40),
            frame_bg_active:        ImVec4Def(x: 0.90, y: 0.65, z: 0.65, w: 0.45),
            title_bg:               ImVec4Def(x: 0.27, y: 0.27, z: 0.54, w: 0.83),
            title_bg_collapsed:     ImVec4Def(x: 0.40, y: 0.40, z: 0.80, w: 0.20),
            title_bg_active:        ImVec4Def(x: 0.32, y: 0.32, z: 0.63, w: 0.87),
            menu_bar_bg:            ImVec4Def(x: 0.40, y: 0.40, z: 0.55, w: 0.80),
            scrollbar_bg:           ImVec4Def(x: 0.20, y: 0.25, z: 0.30, w: 0.60),
            scrollbar_grab:         ImVec4Def(x: 0.40, y: 0.40, z: 0.80, w: 0.30),
            scrollbar_grab_hovered: ImVec4Def(x: 0.40, y: 0.40, z: 0.80, w: 0.40),
            scrollbar_grab_active:  ImVec4Def(x: 0.80, y: 0.50, z: 0.50, w: 0.40),
            combo_bg:               ImVec4Def(x: 0.20, y: 0.20, z: 0.20, w: 0.99),
            check_mark:             ImVec4Def(x: 0.90, y: 0.90, z: 0.90, w: 0.50),
            slider_grab:            ImVec4Def(x: 1.00, y: 1.00, z: 1.00, w: 0.30),
            slider_grab_active:     ImVec4Def(x: 0.80, y: 0.50, z: 0.50, w: 1.00),
            button:                 ImVec4Def(x: 0.67, y: 0.40, z: 0.40, w: 0.60),
            button_hovered:         ImVec4Def(x: 0.67, y: 0.40, z: 0.40, w: 1.00),
            button_active:          ImVec4Def(x: 0.80, y: 0.50, z: 0.50, w: 1.00),
            header:                 ImVec4Def(x: 0.40, y: 0.40, z: 0.90, w: 0.45),
            header_hovered:         ImVec4Def(x: 0.45, y: 0.45, z: 0.90, w: 0.80),
            header_active:          ImVec4Def(x: 0.53, y: 0.53, z: 0.87, w: 0.80),
            separator:              ImVec4Def(x: 0.50, y: 0.50, z: 0.50, w: 1.00),
            separator_hovered:      ImVec4Def(x: 0.60, y: 0.60, z: 0.70, w: 1.00),
            separator_active:       ImVec4Def(x: 0.70, y: 0.70, z: 0.90, w: 1.00),
            resize_grip:            ImVec4Def(x: 1.00, y: 1.00, z: 1.00, w: 0.30),
            resize_grip_hovered:    ImVec4Def(x: 1.00, y: 1.00, z: 1.00, w: 0.60),
            resize_grip_active:     ImVec4Def(x: 1.00, y: 1.00, z: 1.00, w: 0.90),
            close_button:           ImVec4Def(x: 0.50, y: 0.50, z: 0.90, w: 0.50),
            close_button_hovered:   ImVec4Def(x: 0.70, y: 0.70, z: 0.90, w: 0.60),
            close_button_active:    ImVec4Def(x: 0.70, y: 0.70, z: 0.70, w: 1.00),
            plot_lines:             ImVec4Def(x: 1.00, y: 1.00, z: 1.00, w: 1.00),
            plot_lines_hovered:     ImVec4Def(x: 0.90, y: 0.70, z: 0.00, w: 1.00),
            plot_histogram:         ImVec4Def(x: 0.90, y: 0.70, z: 0.00, w: 1.00),
            plot_histogram_hovered: ImVec4Def(x: 1.00, y: 0.60, z: 0.00, w: 1.00),
            text_selected_bg:       ImVec4Def(x: 0.00, y: 0.00, z: 1.00, w: 0.35),
            modal_window_darkening: ImVec4Def(x: 0.20, y: 0.20, z: 0.20, w: 0.35),
        ),
    ),
)
