(
    pause: "Pause",
    continue_: "Continue",
    return_to_hall: "Return to hall",
    create_custom_level: "Create custom level",
    help: "Help",
    quit: "Quit",
    audio: "Audio:",
    music_volume: "Music Volume",
    effect_volume: "Effect Volume",
    video: "Video:",
    fullscreen: "Fullscreen",
    controls: "Controls:",
    reset: "Reset",
    field_of_view: "Field of view",
    mouse_sensibility: "Mouse sensibility",
    shoot: "Shoot",
    forward: "Forward",
    backward: "Backward",
    right: "Right",
    left: "Left",
    credits: "Credits:",
    custom: "Custom",
    play: "Play",
    return_: "Return",
    configuration: "Configuration:",
    size: "Size",
    x_shift: "X shift",
    y_shift: "Y shift",
    filling: "Filling",
    attracted_eraser: "Attracted eraser",
    avoider_eraser: "Avoider eraser",
    bouncer_eraser: "Bouncer eraser",
    motionless_eraser: "Motionless eraser",
    turret: "Turret",
    input: "Input",
    set_input_or_escape: "Press input or escape",
    restart: "Restart",
    setting_needs_to_restart_the_game: "Settings need to restart the game",
    restart_now: "Restart now",
    restart_later: "Restart later",
    ok: "OK",
    attracted: "Attracted",
    avoider: "Avoider",
    bouncer: "Bouncer",
    motionless: "Motionless",
    go_to_portal: "Go to portal",
    remains: "Remains:",
    mouse_middle: "Mouse Middle",
    mouse_left: "Mouse Left",
    mouse_right: "Mouse Right",
    mouse_other: "Mouse Button",
    key: "Key",
    vulkan_error: "Failed to create Vulkan instance.\nPlease check if you graphic cards support Vulkan and if so install the driver.",
)
