(
    pause: "Pause",
    continue_: "Continuer",
    return_to_hall: "Retourner dans le hall",
    create_custom_level: "Générer un niveau",
    help: "Aide",
    quit: "Quitter",
    audio: "Audio :",
    music_volume: "Volume musique",
    effect_volume: "Volume effets",
    video: "Vidéo :",
    fullscreen: "Plein écran",
    controls: "Contrôles :",
    reset: "Reset",
    field_of_view: "Champ de vision",
    mouse_sensibility: "sensibilité souris",
    shoot: "Tirer",
    forward: "Avant",
    backward: "Arrière",
    right: "Droite",
    left: "Gauche",
    credits: "Crédits :",
    custom: "Générateur",
    play: "Jouer",
    return_: "Retour",
    configuration: "Configuration :",
    size: "Taille",
    x_shift: "décalage X",
    y_shift: "décalage Y",
    filling: "Remplissage",
    attracted_eraser: "Attiré éffaceur",
    avoider_eraser: "Ésquiveur éffaceur",
    bouncer_eraser: "Rebondissant éffacteur",
    motionless_eraser: "Immobile éffacteur",
    turret: "Tourelle",
    input: "Entrée",
    set_input_or_escape: "Appuyer sur le bouton\nou échape",
    restart: "Redémarrer",
    setting_needs_to_restart_the_game: "Les options nécessitent\nun redémarrage",
    restart_now: "Faire maintenant",
    restart_later: "Faire plus tard",
    ok: "OK",
    attracted: "Attiré",
    avoider: "Ésquiveur",
    bouncer: "Rebondissant",
    motionless: "Immobile",
    go_to_portal: "Aller au téléporteur",
    remains: "Restants :",
    mouse_middle: "Souris Bouton Milieu",
    mouse_left: "Souris Bouton Gauche",
    mouse_right: "Souris Bouton Droit",
    mouse_other: "Souris Bouton Bouton",
    key: "Touche",
    vulkan_error: "La création de l'instance Vulkan a échoué.\nVeuillez vérifier que votre carte graphique supporte Vulkan et installer le driver Vulkan.",
)
